<div class=" w-4/5 h-full mx-auto mt-0 md:mt-10 flex flex-wrap gap-2 gap-y-8">
  <app-item [imagen]="'margarita.webp'" [name]="'Margarita'" [price]="32" class="overflow-hidden  mx-auto max-w-sm w-full p-4 rounded-3xl border-orange-600 border"></app-item>
  <app-item [imagen]="'pizza4q.webp'" [name]="'4T Quesos'"  [price]="35" class="overflow-hidden  mx-auto max-w-sm w-full p-4 rounded-3xl border-orange-600 border"></app-item>
  <app-item [imagen]="'pizzaa.webp'" [name]="'De Peperoni'"  [price]="30" class="overflow-hidden  mx-auto max-w-sm w-full p-4 rounded-3xl border-orange-600 border"></app-item>
  <app-item [imagen]="'pizzah.webp'" [name]="'Americana'" [price]="28" class="overflow-hidden  mx-auto max-w-sm w-full p-4 rounded-3xl border-orange-600 border"></app-item>
  <app-item [imagen]="'pizzav.webp'" [name]="'Vegetariana'" [price]="30" class="overflow-hidden  mx-auto max-w-sm w-full p-4 rounded-3xl border-orange-600 border"></app-item>
  <app-item [imagen]="'pizzav2.webp'" [name]="'Completa'" [price]="35" class="overflow-hidden  mx-auto max-w-sm w-full p-4 rounded-3xl border-orange-600 border"></app-item>
</div>


