<body class=" flex items-start justify-center ">
    <div class="border-2  shadow-2xl bg-[#262625] p-12 rounded-lg  max-w-md w-full sm:bg-gradient-to-r from-red-500 to-yellow-500 sm:shadow-lg ">
        <h2 class="text-3xl font-extrabold mb-8 text-center">Iniciar sesión</h2>
        <form #formulario = "ngForm" (ngSubmit)="submitForm(formulario)">
            <div class="mb-6">
                <label for="email" class="block text-lg font-semibold text-white-700">Correo electrónico</label>
                <input type="email" id="email" #email="ngModel" name="email" ngModel pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg" required>
                <div class="text-gray-600" *ngIf="email?.errors?.['required']">Ingrese un correo</div>
                <div class="text-gray-600" *ngIf="email?.errors?.['pattern'] && !email?.errors?.['required']">Ingrese un correo válido</div>
            </div>
            <div class="mb-6">
                <label for="password" class="block text-lg font-semibold text-gray-900">Contraseña</label>
                <input type="password" id="password" name="password" #password = "ngModel" ngModel class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg" required>
                <div class="text-gray-600" *ngIf="password?.errors?.['required']">Ingrese la contraseña</div>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-black hover:bg-zinc-800 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline">Ingresar</button>
                <a href="#" class="text-sm font-semibold text-black hover:text-zinc-600">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
    </div>
</body>
